.cabecalho {
    display: flex;
    margin: 2rem 4rem;
}

.cabecalho__itens {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    width: 100vw;
}

.cabecalho__botoes {
    align-items: center;
    display: flex;
}

.cabecalho__links {
    color: var(--cinza-medio); 
    padding-right: 1.5em;   
    text-decoration: none;
}

.cabecalho__botao {
    background: none;
    border: none;
    border-radius: 0.5rem;
    color: var(--cinza-medio);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 0.8rem 1rem;
  }

.cabecalho__botao--cadastrar {
    background-color: var(--primaria);
    color: var(--branco);
}

