.vagas {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

.vagas__setor {
    margin-top: 2em;
}

.vagas__setor--titulo {
    color: var(--cinza-escuro);
    font-size: 20px;
    line-height: 30px;
}

.vaga {
    border: 1px solid var(--cinza-claro);
    border-radius: 1em;
    margin: 1.5em 0 1em 0;
    padding: 1.5em 0 1.5em 1em;
}

.vaga__titulo {
    color: var(--cinza-escuro);
    font-size: 18px;
    line-height: 28px;
}

.vaga__info {
    padding: 1.5em 0 0 0;
}

.vaga__info span {
    margin-right: 1.5em;
}